*~
.anjuta/
.anjuta_sym_db.db
Debug/
autom4te.cache/
/aclocal.m4
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
/INSTALL
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/ltmain.sh
/Makefile.in
/missing
/mkinstalldirs
/po/Makefile.in.in
/src/Makefile.in

